[submodule "engine"]
	path = engine
	url = https://github.com/Rynnya/coffee-engine
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
    branch = docking
	ignore = dirty
