# Visual Studio and Build folder for CMake
.vs/
bin/
build/

# Native filesystem files, except for source code shaders
nativefs/
!nativefs/shaders/*.vert
!nativefs/shaders/*.frag
!nativefs/shaders/*.comp
!nativefs/shaders/*.glsl

# Precomputed filesystems (which weight a lot)
*.fs

# ImGui settings
imgui.ini