# Visual Studio and Build folder for CMake
.vs/
bin/
build/

# Native filesystem files, except for source code shaders
*.spv

!nativefs/
nativefs/*
!nativefs/cube.cfa
!nativefs/white_skybox.basis
!nativefs/shaders/
nativefs/shaders/*.spv

# Precomputed filesystems (which weight a lot)
*.fs

# ImGui settings
imgui.ini